In [1]:
import pandas as pd
import numpy as np
import nltk
import nltk
from nltk import word_tokenize, pos_tag
from nltk.collocations import *
from itertools import *
from nltk.util import ngrams
from nltk.corpus import stopwords
from string import punctuation
from nltk.corpus import stopwords
import gensim
import re
from word2number import w2n
from num2words import num2words
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

In [2]:
def str_to_num(s):
    s_return = []
    for w in s:
        try:
            w = w2n.word_to_num(w)
        except:
            pass
        s_return.append(str(w))
    return s_return

In [3]:
def clean_sentence(val):
    val = val.replace('\n', ' ').replace('--', ' ').replace('\r', ' ')
    sentence = val.split(" ")
    sentence = str_to_num(sentence)
    sent = []
    for i, s in enumerate(sentence):
        t_sent = []
        if '$' in s:
            dollar_split = s.split('$')[1]
            t_sent.append(str(dollar_split))
            t_sent.append('dollars')
        else:
            t_sent.append(s.lower())
        sent.append(" ".join(t_sent))
    sentence = " ".join(sent)
    return sentence

In [4]:
def clean_dataframe(data):
    data = data.dropna(how="any")
    data = data.apply(clean_sentence)
    return data

In [5]:
df = pd.read_csv('../data/raw/results.csv', encoding='latin1')
df.head()

,advertisement.transcription,advertiser.name,enslaved_person.gender,enslaved_person.min_birth_year,enslaved_person.max_birth_year,enslaved_person.literacy,enslaved_person.skills,enslaved_person_languages.language_id,enslaved_person_languages.does_speak,enslaved_person_name.fullname,...,runaway_event.id,runaway.id,enslaved_person.id,enslaved_person_languages.id,enslaved_person_name.id,runaway_location.id,runaway_location_location.id,runaway_enslavers.id,enslaver.id,runaway_reward.id
0,TWENTY DOLLARS REWARD.\nRanaway from the Subsc...,NaN,FEMALE,NaN,NaN,NOT_PROVIDED,nurse,NaN,NaN,Tenah,...,6bb670ae-7ec5-41e1-95b4-d4421015b17f,7c1d52e1-2b99-4372-a7c2-012430871cf1,664075ec-2c11-474e-b1ef-8ed120643658,NaN,4bfe8d11-72d9-40f9-812c-33a8de72bf42,1a9753b6-120c-4520-9f28-f29b42b15434,18ef9311-02fd-402d-8d07-7b7d8567806c,d7796415-33de-4725-b41b-451b47ba7266,ea1637f3-cfd3-4aef-be71-3e090e8526e1,30efbcb3-23c1-48f5-a349-c34daea5d1fb
1,TWENTY DOLLARS REWARD.\nRanaway from the Subsc...,NaN,FEMALE,NaN,NaN,NOT_PROVIDED,nurse,NaN,NaN,Tenah,...,6bb670ae-7ec5-41e1-95b4-d4421015b17f,7c1d52e1-2b99-4372-a7c2-012430871cf1,664075ec-2c11-474e-b1ef-8ed120643658,NaN,4bfe8d11-72d9-40f9-812c-33a8de72bf42,1a9753b6-120c-4520-9f28-f29b42b15434,18ef9311-02fd-402d-8d07-7b7d8567806c,d7796415-33de-4725-b41b-451b47ba7266,ea1637f3-cfd3-4aef-be71-3e090e8526e1,0d52b7d0-7bdd-48c6-acb0-ff3db30a16bb
2,TWENTY DOLLARS REWARD.\nRanaway from the Subsc...,NaN,FEMALE,NaN,NaN,NOT_PROVIDED,nurse,NaN,NaN,Tenah,...,6bb670ae-7ec5-41e1-95b4-d4421015b17f,7c1d52e1-2b99-4372-a7c2-012430871cf1,664075ec-2c11-474e-b1ef-8ed120643658,NaN,4bfe8d11-72d9-40f9-812c-33a8de72bf42,94d1b273-fbf4-404b-88e9-e6301cf9a5d0,fbfd2f31-4ad1-4bb4-a0cb-c27155ac6e66,d7796415-33de-4725-b41b-451b47ba7266,ea1637f3-cfd3-4aef-be71-3e090e8526e1,30efbcb3-23c1-48f5-a349-c34daea5d1fb
3,TWENTY DOLLARS REWARD.\nRanaway from the Subsc...,NaN,FEMALE,NaN,NaN,NOT_PROVIDED,nurse,NaN,NaN,Tenah,...,6bb670ae-7ec5-41e1-95b4-d4421015b17f,7c1d52e1-2b99-4372-a7c2-012430871cf1,664075ec-2c11-474e-b1ef-8ed120643658,NaN,4bfe8d11-72d9-40f9-812c-33a8de72bf42,94d1b273-fbf4-404b-88e9-e6301cf9a5d0,fbfd2f31-4ad1-4bb4-a0cb-c27155ac6e66,d7796415-33de-4725-b41b-451b47ba7266,ea1637f3-cfd3-4aef-be71-3e090e8526e1,0d52b7d0-7bdd-48c6-acb0-ff3db30a16bb
4,TWENTY DOLLARS REWARD.\nRanaway from the Subsc...,NaN,FEMALE,NaN,NaN,NOT_PROVIDED,nurse,NaN,NaN,Tenah,...,6bb670ae-7ec5-41e1-95b4-d4421015b17f,7c1d52e1-2b99-4372-a7c2-012430871cf1,664075ec-2c11-474e-b1ef-8ed120643658,NaN,4bfe8d11-72d9-40f9-812c-33a8de72bf42,68ef4c2a-da28-44d2-a17c-35cd6b364a66,824497c1-56d0-4310-a9f1-d5e63c75006f,d7796415-33de-4725-b41b-451b47ba7266,ea1637f3-cfd3-4aef-be71-3e090e8526e1,30efbcb3-23c1-48f5-a349-c34daea5d1fb

In [11]:
df['advertisement.transcription'].tail(5).values

array(['$25 REWARD - Ran away from the plantation of Paul Hebert, on Bayou Goula, Parish of Iberville, negro man JOHN, color of dark brown or nearly black, aged about 23 years, 5 feet 8 inches high, has rather a pleasant countenance but disposed to look down when spoken to; his back is considerably marked by the whip, the marks of long standing. The above reward will be paid for the delivery of the boy to me at my plantation, or to Wm. F. Talbott, or his confinement in any jail so I may get him.',
       'TAKEN UP\nAND COMMITTED to the jail of New Hanover county, on the 26th inst., a negro man who says his name is BAZZELL, and that he belongs to Mrs. Purnell, of Wilmington, but was hired to Mr. E. Turlington, of said town. The owner of said negro is requested to come forward, prove property, pay charges and take him away, or he will be dealt with as the law directs.\nW. T. J. VANN, Sheriff.\nNov. 28. 71-6t-15-1t',
       'RAN AWAY yesterday, A young Negro Man, named Isaac, about 5 feet 6 inches high, formerly the property of Joseph Woodruff, and sold on execution. Whoever will apprehend and deliver him to the subscriber in Savannah shall have four dollars reward, and be paid all reasonable charges. SAMUEL BEECROFT. Feb. 22, 1781.',
       "$50 REWARD\nWILL BE PAID for the apprehension and delivery to me of my boy SAM, or his lodgment in the jail of New Hanover County. Sam is a bright yellow boy, well grown for 16 years old-no peculiar flesh marks, except a black mole on one of his cheeks. Sam has relations at a Dr. Garrett's, in Pitt county or Green, or at a Gen'l Williams, who owns his mother and others of his family. I purchased Sam of Rob't Jones, Esq., of Warren, five years ago, where he also has relations. JOHN H. HILL.\nWilmington, Dec. 29th, 1859. 97-d&wtf",
       'RUN AWAY from the subscriber, about a month ago, a NEGROE FELLOW, named LONDON, well known in and about Savannah. Whoever takes him up, and will deliver him to the subscriber, or the Warden of the Work house in Savannah, shall receive TEN SHILLINGS REWARD. And I do hereby promise a REWARD of FIVE POUNDS to any person who shall discover him or her by whom the said negroe is harboured, if a white person, and TWENTY SHILLINGS if a slave. GREY ELLIOTT. Savannah, Sept. 29, 1767.'],
      dtype=object)

In [8]:
df = df.drop_duplicates(subset=['advertisement.id'])

In [11]:
t_df = clean_dataframe(df['advertisement.transcription'])

In [12]:
t_df.head()

0     20 dollars reward. ranaway from the subscriber...
20    15 dollars reward will be paid for the apprehe...
21    baltimore, august 11, 1777. 10 pounds reward. ...
29    90 dollars reward. eloped from the hermitage o...
67    50 dollars reward. ranaway from the subscriber...
Name: advertisement.transcription, dtype: object

In [ ]:
t_df.to_csv('../data/interim/just_text_series.csv', index = False)