In [1]:
import pandas as pd
import re
import pickle

In [2]:
#language detector model
with open('../models/cv_best_nb.pkl', 'rb') as fin:
    vect, clf = pickle.load(fin)

In [4]:
df = pd.read_csv('../data/interim/just_text_series.csv')
df.head()

                         advertisement_transcription
0  20 dollars reward. ranaway from the subscriber...
1  15 dollars reward will be paid for the apprehe...
2  baltimore, august 11, 1777. 10 pounds reward. ...
3  90 dollars reward. eloped from the hermitage o...
4  50 dollars reward. ranaway from the subscriber...

In [10]:
incarcerated = []
count = 0
for dl in df[:].values:
    x = vect.transform([str(dl)])
    pred = clf.predict(x)
    if pred == 0: #skips for non-english
        print(dl)
        want = input('incarcerated false: ')
        if want == 'A': #allows a marker if mistake is made
            want = 'CHECK'
    else:
        want = 'FR'
    incarcerated.append(want)
    if count % 10 == 0:
        print('THE COUNT IS: {}' .format(count))
    count += 1

["20 dollars reward. ranaway from the subscriber, at barnwell court house, on the 12th september, tenah, a female servant, about 22 years of age, of the middle size, and rather light complected, tho' denominated a black.  tenah was bought in this city in june last, at a sale of the estate of vance's negroes, and was taken into the country as a nurse for the summer season. as she has many connexions in this place, and a husband, (a free man, by the name of william lewis,) living on goose creek, it is likely she is harboured in or about the 2 places; tho' some suspicion is entertained that she many have made her way towards columbia in this state, where it is understood a former husband was taken and now resides. the above reward will be paid on her apprehension and delivery to the master of the work house, with proof that she is harboured either by a free person or slave; and 10 dollars for her delivery at any jail in the state so that i can get her. wm. h. smith, 42 east-bay. november 7"]

KeyboardInterrupt: Interrupted by user

In [25]:
incarcerated_df = pd.DataFrame({'text' : data_list[:len(incarcerated)], 'not_incarcerated': incarcerated})
incarcerated_df = incarcerated_df.query('not_incarcerated != "X"') #eliminates illegible and oddballs
incarcerated_df.head()

                                                text not_incarcerated
0  20 dollars reward. ranaway from the subscriber...                1
1  15 dollars reward will be paid for the apprehe...                1
2  baltimore august 11 1777. 10 pounds reward. ra...                1
3  90 dollars reward. eloped from the hermitage o...                1
4  50 dollars reward. ranaway from the subscriber...                1

In [27]:
incarcerated_df = incarcerated_df.query('not_incarcerated != "FR"') #eliminates french ads
incarcerated_df.not_incarcerated.unique()

array(['1', '0'], dtype=object)

In [28]:
len(incarcerated_df)

1267

In [29]:
incarcerated_df.to_csv('incarcerated_df.csv', index = False)